<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> <!-- Lidhja me bootstrap -->
  <link rel="stylesheet" type="text/css" href="main.css">
  <meta charset="UTF-8"> 
  <title>Kontratat</title>
  </head>
<body>
<div class="container">
      <div class="form-row">
          <div class="form-group col-md-6">
            <h1 style="color: #007fdb;"><b>Ndryshoni</b></h1>
          </div>
          <div class="form-group col-md-6">
              <img src="prishtina.svg" width="100px" align="right">
          </div>
      </div>

	<br>
	<br>
	<form method="POST" action="/kontrat/update/<%= doc._id %>">
<div class="form-row">
            <div class="form-group col-md-6">
              <label for="formGroupExampleInput" >Nr rendor i prokurorimit</label>
              <input type="text" class="form-control"   placeholder="Nr rendor i prokurorimit" name="title" value="<%= doc.title %>" required>
            </div>
            <div class="form-group col-md-6">
              <label for="formGroupExampleInput">Lloji i prokurorimit</label>
              <input type="text" class="form-control" placeholder="Lloji i prokurorimit" name="description" value="<%= doc.description %>" required>
            </div>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Aktiviteti i prokurorimit</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="aktiviteti" placeholder="Aktiviteti i prokurorimit" value="<%= doc.aktiviteti %>" required>
          </div>
          <!-- Ketu perfundon prokurorimi -->
          <br>

          <!-- Datat -->
          <h3>Datat:</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="formGroupExampleInput">Data e inicimit te aktivitetit</label>
                  <input class="form-control" type="date"  name="datainicimit" id="example-date-input" value="<%= doc.datainicimit %>" required >
                </div>
                <div class="form-group col-md-6">
                  <label for="formGroupExampleInput">Data e publikimit te shpalljes</label>
                  <input class="form-control" type="date"  name="publikimishpalljes" id="example-date-input" value="<%= doc.publikimishpalljes %>" required>
              </div>
            </div>
          
          <div class="form-group">
            <label for="formGroupExampleInput">Data e nenshkrimit te kontrates</label>
            <input class="form-control" type="date"  name="datanenshkrimit" id="example-date-input" value="<%= doc.datanenshkrimit %>" required>
          </div>
          <br>
          <h6>Afatet per implementim te kontrates</h6>
          <div class="form-row">
            <div class="form-group col-md-6">
                <input class="form-control" type="date"  name="afatetetperimplementim" id="example-date-input" value="<%= doc.afatetetperimplementim %>" required>
            </div>
          <div class="form-group col-md-6">
                <input class="form-control" type="date"  name="afatetetperimplementim2" id="example-date-input" value="<%= doc.afatetetperimplementim2 %>" required>
          </div>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Data e permbylljes se kontrates (data e pranimit te perkohshem / preliminar)</label>
            <input class="form-control" type="date"  name="datapermbylljes" id="example-date-input" value="<%= doc.datapermbylljes %>" required>
          </div>
          <!-- Ketu perfundojn datat -->
          <br>

          <!-- Cmimet -->
          <h3>Çmimi dhe të dhëna të tjera:</h3>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="formGroupExampleInput">Çmimi i kontratës (pershirë të gjitha taksat)</label>
              <input type="text" class="form-control" name="cmimikontrates"  placeholder="Çmimi i kontratës" value="<%= doc.cmimikontrates %>" required>
            </div>
            <div class="form-group col-md-6">
              <label for="formGroupExampleInput">Çmimi total i paguar per kontrat</label>
              <input type="type" class="form-control" name="cmimitotalipaguar" placeholder="Çmimi total" value="<%= doc.cmimitotalipaguar %>" required>
            </div>
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput">Emri i te cilit i eshte dhene kontrata</label>
            <input type="text" class="form-control" id="formGroupExampleInput" name="emriikontratdhenesit" placeholder="Emri dhe mbiemri" value="<%= doc.emriikontratdhenesit %>" required>
          </div>
          <!-- Ketu perfundojn cmimet-->

          <br>

          <!-- Dergo dhe fshij -->
          <div class="form-group">
            <div class="col-xs-12 text-center">
            		<button class="btn btn-danger btn-lg" type="submit">Ndrysho</button>	

            		<a class="btn btn-warning btn-lg" href="javascript:history.go(-1)" title="Return to the previous page" >Kthehu mbrapa</a>
                <script type="text/javascript">function goBack()</script>	

            		<a class="btn btn-dark btn-lg" href="/kontrat/delete/<%= doc._id %>">Fshije kontraten</a>
            </div>
          </div>
          <!-- Ketu perfundon Dergo dhe Fshij -->
			<br>
		</div>
</body>
</form>
</div>











